@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
}

.container-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.box-img,
.box-titulo,
.servicos-box {
    opacity: 0;
    /*transform: translateX(100%);*/
    transform: translateY(-50%);
    transition: transform 3s ease, opacity 1s ease;

}

.box-img.active,
.box-titulo.active,
.servicos-box.active {
    opacity: 1;
    transform: translateX(0);
}

.box-img {
    width: 80%;
    height: 350px;
    overflow: hidden;
    position: relative;

}

.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 80%;
    height: auto;
    background-color: #96e0c1;
    color: #000;
    border-radius: 0px 0px 40px 40px;
}

.box-titulo h1 {
    font-size: 1.5rem;
    margin-top: 20px;
    font-weight: 300;
}

.box-titulo h2 {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 20px;
    font-weight: 200;
}

.btn-whats {
    width: 200px;
    font-weight: 300;
    background-color: #63c18f;
    color: #fff;
    border-radius: 5px;
    font-size: 1rem;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.67);
}

.btn-whats:hover {
    cursor: pointer;
    opacity: 0.8;
}

.sobre-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sobre-container h3 {
    margin-top: 20px;
}

.sobre-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #63c18f;
}

.sobre-box p {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: justify;
    font-weight: 350;
    width: 80%;
    font-size: 1.1rem;
    color: #131313;
}

.servicos-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.servicos-container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 40px;

}

.servicos-box {
    display: grid;
    width: 70%;
    margin-top: 40px;
    margin-bottom: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    justify-content: center;
    align-content: center;

}

.servicos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 150px;
    height: 150px;
    border-radius: 30px 0px 30px 0px;
    background-color: #63c18f48;
}

.servicos h4 {
    margin-top: 2%;
    width: 90%;
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
}

.contato-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #63c18f;
}

.contato-container h3 {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.contato-container p {
    margin-top: 20px;
    font-weight: 300;
    width: 80%;
    text-align: justify
}

iframe {
    margin-top: 20px;
    width: 80%;
}

.btn-whats2 {
    width: 200px;
    background-color: #ffffff;
    color: #131313;
    border-radius: 5px;
    font-size: 1rem;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.67);
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.67);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.67);


}

.btn-whats2:hover {
    cursor: pointer;
    background-color: #fffffff2;
}

.contato {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #f5f5f5;

}

.contato-box {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato-box p {
    font-size: 0.8rem;
}

.redes-box {
    width: 40%;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 300;
    width: 100%;
    height: 50px;
    background-color: #63c18f;
}